img{
    max-width: 100%;
    height: auto;
}

header{
    padding: 10rem 0 6rem 0;
    /* background-color: #eaeaea; */
}

.header-img-container{
    /* width: 10rem; */
}

.header-title{
    font-weight: 800;
    line-height: 70px;
}

.header-title span{
    display: inline-block;
    font-size: 6rem;
    color: #ffc222;
    text-shadow: 2px white;
}

.header-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.header-span-one{
    color: #00a149;
    font-size: 1.7rem;
    font-weight: 800;
}

.btn{
    background-color: #ffc222;
    color: black;
    border-radius: 8px;
    padding: 1rem 1.5rem;
}

.btn:hover{
    color: white;
}

.header-price{
    font-weight: 800;
    color: #00a149;
    font-size: 1.8rem;
}

.header-content-price{
    display: flex;
    justify-content: start;
    gap: 2rem;
    align-content: center;
}